<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"

         bootstrap="vendor/autoload.php"

         colors="true"

>

    <testsuites>

        <testsuite name="Unit">

            <directory>tests/Unit</directory>

        </testsuite>

        <testsuite name="Feature">

            <directory>tests/Feature</directory>

        </testsuite>

        <testsuite name="Modules">

            <directory>modules/Categories/Tests</directory>

            <directory>modules/Documents/Tests</directory>

            <directory>modules/Users/Tests</directory>

            <directory>modules/Admin/Tests</directory>

            <directory>modules/Settings/Tests</directory>

            <directory>modules/Auditable/Tests</directory>

            <directory>modules/Core/Tests</directory>

            <directory>modules/CoreUI/Tests</directory>

        </testsuite>

    </testsuites>

    <source>
        <include>
            <directory>app</directory>
            <directory>modules</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>

</phpunit>
